<?xml version="1.0"?>
<configuration>
	<connectionStrings>

    
    <add name ="movie" connectionString ="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\onlinemovieticketproject\App_Data\booking.mdf;Integrated Security=True;User Instance=True" providerName ="System.Data.SqlClient"/>
    
  </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		
	</system.web>
</configuration>
